.startScreen {
  height: 100vh;
  width: 100%;
  background-color: lightgray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.startScreen__container {
  height: 400px;
  width: 800px;
  background-color: aquamarine;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.startButton {
  background-color: lightgray;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: auto;
}
